body{
    margin: 0;
    background-color: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
